.body {
    background-image: url('C:/Users/Owner/Documents/GitHub/Tech-Acdemy-HTML-and-CSS-Course-Projects/Project/Images/Hogwarts_Background_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}